@page
@model ModelingAgency.Web.Pages.Model.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<h4>Model</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
                @if (!Model.NameAvailable)
                {
                    <span>name is already in use</span>
                }
                else if (Model.Check && string.IsNullOrWhiteSpace(Model.Name))
                {
                    <span>field must be filled in</span>
                }
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
                @if (Model.Check && string.IsNullOrWhiteSpace(Model.Password))
                {
                    <span>field must be filled in</span>
                }
            </div>
            <div class="form-group">
                <label asp-for="AddressNumber" class="control-label"></label>
                <input asp-for="AddressNumber" class="form-control" />
                <span asp-validation-for="AddressNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
                @if (Model.Check && string.IsNullOrWhiteSpace(Model.PostalCode))
                {
                    <span>field must be filled in</span>
                }
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelephoneNumber" class="control-label"></label>
                <input asp-for="TelephoneNumber" class="form-control" />
                <span asp-validation-for="TelephoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMailAdress" class="control-label"></label>
                <input asp-for="EMailAdress" class="form-control" />
                <span asp-validation-for="EMailAdress" class="text-danger"></span>
                @if (Model.Check && string.IsNullOrWhiteSpace(Model.EMailAdress))
                {
                    <span>field must be filled in</span>
                }
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
            </div>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}